
.item {
  width:100px;
  display:inline-block;
}

.item h6 {
  color: white;
}

.item .count {
  color: black;
  background-color:lightblue;
  border-radius: 50%;
  width: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  border: 1px solid black;
}