<!-- Fixed navbar -->
<div class="pos-f-t">

    <div class="collapse" id="navbar-header">
        <div class="container bg-inverse p-a-1">
            <h3>Collapsed content</h3>
            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>

    <nav class="navbar navbar-light navbar-static-top bg-faded">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="#">Periscope v2</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Nav item <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Another nav item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">More nav</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Last link</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Begin page content -->
<div class="container">

    <!--
    <div class="m-t-1">
        <h1>Sticky footer with fixed navbar</h1>
    </div>
    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
    <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
    -->

    <h1>{{title}}</h1>

    <multi-complete [items]="states"></multi-complete>

    <triage-component title="Test title" [comments]="['a', 'b', 'c']" ></triage-component>

    <app-dashboard></app-dashboard>

</div>

<footer class="footer navbar-fixed-bottom navbar navbar-light navbar-static-top bg-faded">


    <div class="container">
        <div class="form-group row">
            <button type="button" class="btn btn-primary">Component</button>
        </div>

        <div class="form-group row">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Need reproduction</span>
            </label>
        </div>

        <div class="form-group row">
            <button type="button" class="btn btn-primary">Next</button>
        </div>

    </div>

</footer>

