<div class="bad">
  <counter [label]="New" [count]="data.new"></counter>

  <div class="item">
    <h6>New</h6>
    <div class="count">
        {{data.new}}
    </div>
  </div>
<div class="item">
    <h6>New</h6>
  <div class="count">
      {{data.has_comp}}
  </div>
</div>

<div class="item">
    <h6>New</h6>
  <div class="count">
      {{data.triaged}}
  </div>
</div>
<div class="item">
    <h6>New</h6>
  <div class="count">
      {{data.scheduled}}
  </div>
</div>
<div class="item">
    <h6>New</h6>
  <div class="count">
      {{data.scheduled}}
  </div>
</div>
</div>
